# Semanal Latinoamerica y USA importaciones

In [37]:
import pandas as pd
master=pd.read_csv(r"C:\Users\artuv\OneDrive\Bases_Chile_y_UvasPeru\Master.csv")
current_week=43

In [38]:
latam=master[(master['Region']=='LATIN AMERICA')& (master['ETD Week'].str.contains('2025'))]
latam=latam.rename(columns={'Dep_Week': 'Departure Week'})

In [39]:
line_to_run= '''RUN THIS LINE  in the terminal #python -m nbconvert --to html --no-input "Weekly.ipynb" 
#python -m nbconvert --to webpdf --no-input "Weekly.ipynb" --TagRemovePreprocessor.enabled=True --PDFExporter.latex_command="['pdflatex', '{filename}', '--landscape']" '''

### Polar Fruit Exports most recent

In [40]:
polar=master[((master['Exporter']=='POLAR FRUIT INT')| (master['Exporter']=='POLAR FRUIT INTERNATIONAL SAC'))& master['Year Country'].str.contains('2025')]
polar=polar.rename(columns={'Dep_Week': 'Departure Week','Year Country':'Exporting Country'})
polar=polar.sort_values(by=['Departure Week','Boxes']) # Sort polar before pivoting
polar_recent=polar[polar['Departure Week']>max(polar['Departure Week'])-2]
polar_pivot=polar_recent.pivot_table(index=['Departure Week','Country','Importer'],
                                     columns=['Exporting Country','Specie','Variety'],
                                     values='Boxes',aggfunc='sum',margins=True).fillna(0)
country_rn={'2025-CHILE':'Chile','2025-PERU':'Peru'}
polar_pivot.rename(columns=country_rn,inplace=True)
polar_pivot=polar_pivot.style.format("{:,.0f}")
polar_pivot

## Latest Week in Imports from Chile and Peru  to the USA week 43

In [55]:
usa25=master[(master['Country']=='U.S.A.')& master['Year Country'].str.contains('2025')]
usa25=usa25.rename(columns={'Dep_Week': 'Departure Week','Year Country':'Exporting Country'})
usa_recent=usa25[usa25['Departure Week']==current_week]
usa_pivot=usa_recent.pivot_table(index=['Market','Importer','Exporter'],
                                 columns=['Exporting Country', 'Specie', 'Variety group'],
                                 values='Boxes',aggfunc='sum', margins=True).fillna(0)
usa_rename={'2025-CHILE':'Chile','2025-PERU':'Peru'}
usa_pivot.rename(columns=usa_rename,inplace=True)
usa_pivot=usa_pivot.style.format("{:,.0f}")
usa_pivot

In [42]:
countries = [
    'COLOMBIA', 'CHILE', 'COSTA RICA', 'ECUADOR', 
    'EL SALVADOR', 'HONDURAS', 'GUATEMALA','MEXICO', 
    'PANAMA', 'PERU', 'VENEZUELA'
]
country_pivots = {}
for country in countries:
    df_country = latam[latam['Country'] == country]
    df_country_new=df_country[df_country['Departure Week']==current_week]
    df_country_new=df_country_new.rename(columns={'Year Country':'Exporting Country'})
    pivot = (
        df_country_new.pivot_table(
            index=['Departure Week','Importer','Exporter',],
            columns=['Exporting Country', 'Specie', 'Variety group'],
            values='Boxes',
            aggfunc='sum',
            margins=True
        )
        .fillna(0)
    )
    yc_remap={'2025-CHILE':'Chile','2025-PERU':'Peru'}
    pivot.rename(columns=yc_remap,inplace=True)
    pivot=pivot.style.format("{:,.0f}")
    country_pivots[country] = pivot

   <p style="page-break-after:always;"></p>

## Latest Week in Imports from Chile and or  Peru for Latin America by Country

### Colombia

In [43]:
colombia_pivot = country_pivots['COLOMBIA']
colombia_pivot

### Chile

In [44]:
chile_pivot = country_pivots['CHILE']
chile_pivot

<p style="page-break-after:always;"></p>

### Costa Rica

In [45]:
costa_rica_pivot = country_pivots['COSTA RICA']
costa_rica_pivot

### Ecuador

In [46]:
ecuador_pivot = country_pivots['ECUADOR']
ecuador_pivot

### El Salvador

In [47]:
el_salvador_pivot = country_pivots['EL SALVADOR']
el_salvador_pivot

### Guatemala

In [48]:
guatemala_pivot = country_pivots['GUATEMALA']
guatemala_pivot

<p style="page-break-after:always;"></p>

### Honduras

In [49]:
honduras=country_pivots['HONDURAS']
honduras

### Mexico

In [50]:
mx=country_pivots['MEXICO']
mx

   <p style="page-break-after:always;"></p>

### Panama

In [51]:
panama_pivot = country_pivots['PANAMA']
panama_pivot

### Peru

In [52]:
peru_pivot = country_pivots['PERU']
peru_pivot

<p style="page-break-after:always;"></p>

### Venezuela

In [ ]:
venezuela_pivot = country_pivots['VENEZUELA']
venezuela_pivot